<script>
      	var site_nav_link_burger = true;
      	document.addEventListener("DOMContentLoaded", function() {
            var icon_menu = document.querySelector("div[data-mobile-menu-icon]");
            icon_menu.addEventListener("click", function() {
      			if(site_nav_link_burger) {
      				event.preventDefault();
      				site_nav_link_burger = false;
      			}
      		});
      	}) 
</script>
<div id="shopify-block-1513253815146976218" class="shopify-block shopify-app-block">
</div>